p {
  color: white;
  Width: 800px;
}


li {
  color: #FFFBC2;
  Width: 800px;
  Border: 1px white;
}


hi,
h2,
h3,
h4 {
  color: green;
  Width: 1600px;
}


a:hover {
  color: red;
}


img[src] {
  Width: 800px;
}

html {
  font-size: 16px;
  font-family: "Courier";
}

h1 {
  font-size: 60px;
  line-height: 1;
  text-align: center;
}
h2 {
  font-size: 30px;
  line-height: 0.5;
  text-align: center;
}
h3 {
  font-size: 30px;
  line-height: 0.7;
  text-align: center;
}
h4 {
  font-size: 30px;
  line-height: 0.1;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}

html {
  background-color: #000000;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: green;
}

img {
  display: block;
  margin: 0 auto;
}

P,
ol {
  width: 800px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}